<div class="dash">
    <div class="head1">
        <h2>Welcome to the <%=message %>'s Dashboard</h2>
    </div>
    <div class="body1">
        <p>From your account dashboard. you can easily check & view your recent order, manage your shipping and billing
            addresses and edit your password and account details</p>
    </div>
</div>
