<!-- <nav class="sidebar sidebar-offcanvas " id="sidebar">
	<div class="sidebar-brand-wrapper  align-items-center justify-content-center fixed-top " style="width: 210px !important;">
		<a class="sidebar-brand brand-logo" href="/admin/dashboard">H E L D E N</a>
	</div>
	<ul class="nav pt05 mt-3">
		<li class="nav-item menu-items"><a class="nav-link" href="/admin/dashboard"><span class="menu-title">Dashboard</span></a></li>

		<li class="nav-item menu-items"><a class="nav-link" href="/admin/userManagement"><span class="menu-title">User Management</span></a></li>

		<li class="nav-item menu-items"><a class="nav-link" href="/admin/productManagement"><span class="menu-title">Products Management</span></a></li>

		<li class="nav-item menu-items"><a class="nav-link" href="/admin/orderManagement"><span class="menu-title">Order Management</span></a></li>

		<li class="nav-item menu-items"><a class="nav-link" href="/admin/categoryManagement"><span class="menu-title">Category Management</span></a></li>

		<li class="nav-item menu-items"><a class="nav-link" href="/admin/couponManagement"><span class="menu-title">Coupen Management</span></a></li>

		<li class="nav-item menu-items"><a class="nav-link " href="/admin/offerManagement"><span class="menu-title">Offer Management</span></a></li> 

		<li class="nav-item menu-items pt-5"><a class="nav-link bg-warning" href="/admin/logout"><span class="menu-title">Logout</span></a></li>
	</ul>
</nav> -->

<div class="sidebar">
	<div class="sidebar-brand">
		HELDEN
	</div>
	<ul class="nav flex-column mt-3">
		<li class="nav-item">
			<a class="nav-link" href="/admin/dashboard">Dashboard</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/userManagement">User Management</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/admin/productManagement">Product Management</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/orderManagement">Order Management</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/categoryManagement">Category Management</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/couponManagement">Coupon Management</a>
		</li>
		<li class="nav-item mt-5">
			<a class="nav-link text-warning" href="/admin/logout">Logout</a>
		</li>
	</ul>
</div>